/*Final Project CSS style sheet*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background-color: white;
  font-family: "Lato", sans-serif;
  max-width: 960px;
  margin: auto;
}

header,
footer {
  background-color: rgb(199, 201, 169);
  display: grid;
  align-items: center;
  justify-content: center;
}

header {
  grid-template-columns: 200px 1fr;
}

footer {
  grid-template-columns: 1fr 175px;
  color: rgb(78, 71, 41);
  padding: 20px;
}

#banner {
  margin: 14px 14px 14px 14px;
  /*position: relative;*/
  box-shadow: 0px 0px 5px black;
  border: 2px solid white;
}

#logo {
  width: 0px;
  height: auto;
  padding: 20px 10px 20px 50px;
}

li {
  list-style-type: none;
}

.mainnav a {
  margin: 10px 10px 10px 10px;
  text-decoration: none;
  box-sizing: border-box;
  background-color: #c7c9a9;
  padding: 10px 40px 10px 40px;
  border: 2px solid white;
  color: #4e4729;
}

main {
  margin: 5px auto;
  background-color: rgb(176, 205, 203);
  padding: 13px;
  color: black;
}

.mainnav {
  list-style-type: none;
  position: absolute;
  float: left;
  margin: 0px 10px 10px 100px;
}

.mainnav .active {
  text-decoration: underline;
}

.mainnav a:hover {
  color: #4e4729;
  background-color: white;
}

h1 {
  padding: 10px;
  font-size: 35px;
  text-align: center;
}

h2 {
  font-size: 26px;
  text-align: center;
  padding: 10px 10px 30px 10px;
}

h3 {
  font-size: 20px;
}

/*Page 1 Boondock Camping For Beginners*/

.opening {
  padding: 10px 40px 10px 40px;
}

.section1 {
  display: grid;
  grid-template-rows: 40px 300px;
  padding: 0px;
  margin: 0px 20px 20px 20px;
}

#photo1 {
  grid-row: 1/2;
  grid-column: 1/2;
  border: solid 2px white;
  box-shadow: 0px 0px 5px black;
  margin: 0px 20px;
}

#section1title {
  grid-row: 1/2;
  grid-column: 2;
  text-align: center;
  padding: 0px;
}

#section1text {
  grid-row: 2/3;
  grid-column: 2;
  padding: 0px 20px 20px 20px;
}

.section2 {
  display: grid;
  grid-template-rows: 40px 300px;
  padding: 20px;
  margin: 20px 20px 20px 20px;
}

#photo2 {
  grid-row: 1/2;
  grid-column: 2/3;
  border: solid 2px white;
  box-shadow: 0px 0px 5px black;
}

#section2title {
  grid-row: 1/2;
  grid-column: 1;
  text-align: center;
  padding: 0px;
}

#section2text {
  grid-row: 2/3;
  grid-column: 1;
  padding: 0px 30px 20px 0px;
}

/*Page 2 Equipment List*/

ul li {
  text-align: left;
}

/*Page 3 Locations*/

.locations {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin: 40px 50px 0px 50px;
}

.location1,
.location2,
.location3,
.location4,
.location5,
.location6 {
  background: rgba(255, 255, 255, 0.15);
  border: 3px solid white;
  padding: 20px;
  box-shadow: 5px 5px 15px black;
  text-align: center;
  background-color: #c7c9a9;
}

#locationimg {
  border: 2px solid white;
  box-shadow: 0px 0px 5px black;
  padding: 10px;
  margin-top: 10px;
  background-color: #9da767;
}
