/*Final Project CSS style sheet*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background-color: white;
  font-family: "Lato", sans-serif;
  max-width: 960px;
  margin: auto;
}

header,
footer {
  background-color: rgb(199, 201, 169);
  display: grid;
  align-items: center;
  justify-content: center;
}

header {
  grid-template-columns: 200px 1fr;
}

footer {
  grid-template-columns: 1fr 175px;
  color: rgb(78, 71, 41);
  padding: 20px;
}

.page {
  position: relative;
}

#banner {
  margin: 20px 23px 20px 23px;
  /*position: relative;*/
  box-shadow: 0px 0px 5px black;
  border: 1px solid white;
}

#logo {
  position: absolute;
  left: 80px;
  top: 220px;
}

li {
  margin: 0px 20px 0px 40px;
}

.mainnav a {
  margin: 10px 10px 10px 10px;
  text-decoration: none;
  font-size: 20px;
  box-sizing: border-box;
  background-color: #c7c9a9;
  padding: 10px 40px 10px 40px;
  border: 2px solid white;
  color: #4e4729;
}

main {
  margin: 5px auto;
  background-color: rgb(176, 205, 203);
  padding: 13px;
  color: black;
}

.mainnav {
  list-style-type: none;
  position: absolute;
  flex: 1 1 auto;
  left: 310px;
  top: 330px;
}

.mainnav .active {
  text-decoration: underline;
}

.mainnav a:hover {
  color: #4e4729;
  background-color: white;
}

h1 {
  padding: 10px;
  font-size: 35px;
  text-align: center;
}

h2 {
  font-size: 26px;
  text-align: center;
  padding: 10px 10px 30px 10px;
}

h3 {
  font-size: 20px;
  padding: 20px 10px 15px 20px;
  text-align: center;
}

p {
  text-align: center;
  padding: 20px;
}

/*Page 1 Boondock Camping For Beginners*/

.opening {
  padding: 10px 40px 10px 40px;
}

.section1 {
  display: grid;
  grid-template-rows: 40px 300px;
  padding: 0px;
  margin: 0px 20px 20px 20px;
}

#photo1 {
  grid-row: 1/2;
  grid-column: 1/2;
  border: solid 2px white;
  box-shadow: 0px 0px 5px black;
  margin: 0px 20px;
}

#section1title {
  grid-row: 1/2;
  grid-column: 2;
  text-align: center;
  padding: 0px;
}

#section1text {
  grid-row: 2/3;
  grid-column: 2;
  padding: 0px 20px 20px 20px;
}

.section2 {
  display: grid;
  grid-template-rows: 40px 300px;
  padding: 20px;
  margin: 20px 20px 20px 20px;
}

#photo2 {
  grid-row: 1/2;
  grid-column: 2/3;
  border: solid 2px white;
  box-shadow: 0px 0px 5px black;
}

#section2title {
  grid-row: 1/2;
  grid-column: 1;
  text-align: center;
  padding: 0px;
}

#section2text {
  grid-row: 2/3;
  grid-column: 1;
  padding: 0px 30px 20px 0px;
}

/*EMAIL FORM******EMAIL FORM*****EMAIL FORM*/

form {
  margin: 20px auto;
  width: 600px;
  padding: 1em 1em 2em 2em;
  border: 2px solid white;
  background-color: #b0cdcb;
  text-align: center;
}

ul {
  /*list-style: none;*/
  margin: 0;
}

form li {
  margin-top: 1em;
  list-style-type: none;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid black;
}

input:focus,
textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 5em;
}

.button {
  padding-left: 70px;
}

button {
  margin-left: 9em;
  background-color: white;
  padding: 5px 20px 5px 20px;
}

input {
  padding: 5px;
  margin: 5px auto;
}

/*Page 2 Equipment List*/

ul li {
  text-align: left;
}

.equipmentlist {
  display: grid;
  grid-template-rows: 40px 630px;
  margin: 0px 100px 30px 100px;
  border: 2px solid white;
}

.equipmentlist2 {
  margin: 0px 100px 30px 100px;
  border: 2px solid white;
}

.equip1 {
  grid-column: 1/2;
  padding: 20px 20px 20px 20px;
}

.equip2 {
  grid-column: 2/3;
  padding: 20px 20px 20px 20px;
}

#pg2-photo1,
#pg2-photo2 {
  grid-column: 1/2;
  border: 2px solid white;
  box-shadow: 0px 0px 5px black;
  margin: 20px 23px 20px 100px;
}

#equip-explained {
  padding: 10px 40px 10px 40px;
}

.fifteen-items-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin: 10px 50px 30px 50px;
}

.item1,
.item2,
.item3,
.item4,
.item5,
.item6,
.item7,
.item8,
.item9,
.item10,
.item11,
.item12,
.item13,
.item14,
.item15 {
  background: rgba(255, 255, 255, 0.15);
  border: 3px solid white;
  box-shadow: 5px 5px 15px black;
  text-align: center;
  background-color: white;
}

.recommended-15 {
  display: grid;
  margin: 0px 100px 30px 100px;
  border: 2px solid white;
}

.recom1 {
  grid-column: 1/2;
  padding: 20px 20px 20px 20px;
}

.recom2 {
  grid-column: 2/3;
  padding: 20px 20px 20px 20px;
}

/*Page 3 Locations*/

.locations {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin: 40px 50px 30px 50px;
}

.location1,
.location2,
.location3,
.location4,
.location5,
.location6 {
  background: rgba(255, 255, 255, 0.15);
  border: 3px solid white;
  padding: 20px 20px 40px 20px;
  box-shadow: 5px 5px 15px black;
  text-align: center;
  background-color: white;
}

#loc-img1,
#loc-img2,
#loc-img3,
#loc-img4,
#loc-img5,
#loc-img6 {
  border: 2px solid white;
  box-shadow: 0px 0px 5px black;
  padding: 10px;
  margin-top: 10px;
  background-color: #9da767;
}
