body {
  font-size: 14px;
  margin: 0;
  padding: 0;
  background-color: rgb(240, 238, 238);
  font-family: "Rubik", sans-serif;
  max-width: 1020px;
  margin: auto;
}

header,
footer {
  /*margin: 0 auto;*/
  border: 5px solid rgb(23, 56, 105);
  /*padding: 0.5rem;*/
  background-color: #599cbb;
  display: grid;
  align-items: center;
  justify-content: center;
}

header {
  grid-template-columns: 200px 1fr;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  float: left;
  margin-right: 80px;
}

main {
  /*This is where the box-sizing sizes are located*/
  margin: 1rem auto;
  background-color: rgb(179, 215, 236);
  padding: 1rem;
  color: black;
}

main img {
  box-shadow: 5px 5px 15px black;
  border: 2px solid white;
}
footer {
  grid-template-columns: 1fr 175px;
  color: white;
  padding: 20px;
}

h1 {
  /*margin-top: 20px;*/
  left: 275px;
  font-size: 2.2rem;
  color: rgb(13, 34, 65);
  text-align: center;
  box-sizing: border-box;
}

h2 {
  color: rgb(13, 34, 65);
  font-size: 2.2rem;
  text-align: center;
  width: 95%;
}

/* Class Selectors */

.mainnav {
  list-style-type: none;
  display: flex;
  text-align: center;
  font-size: 20px;
}

.mainnav li {
  flex: 1 1 auto;
}

.mainnav a {
  display: block;
  /*padding: 12px;*/
  text-decoration: none;
  box-sizing: border-box;
}

.mainnav a:hover {
  color: rgb(23, 56, 105);
  background-color: white;
}

.page {
  max-width: 960px;
}

.logo {
  width: 0px;
  height: auto;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:active {
  color: rgb(23, 56, 105);
}

.social {
  float: right;
}

.banner {
  /*margin: 10px auto;*/
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.plantrip {
  position: absolute;
  bottom: 30px;
  left: 50px;
  background: rgba(89, 156, 187, 0.1);
  border: 1px solid #fad334;
  padding: 0px 20px 10px 20px;
  box-shadow: 0 0 30px black;
  color: white;
  text-align: center;
  box-sizing: border-box;
}

.button {
  border: 1px solid white;
  padding: 5px 10px;
  text-decoration: none;
  background: #599cbb;
  box-sizing: border-box;
}

.banner a:hover {
  color: rgb(23, 56, 105);
  background-color: white;
}

/*Grid work*/

/*Section one*/

.one {
  width: 870px;
  height: 120px;
  padding: 0px;
  margin: 30px;
}
.adventure {
  text-align: center;
  /*margin: 20px 0px 10px 0px;*/
  box-sizing: border-box;
}
.adventure2 {
  /*margin: 25px 50px 25px 50px; This padding needs to be here to allow the space between the top of the picture and the paragraph above*/
  box-sizing: border-box;
}
/*Section two*/
.two {
  display: grid;
  grid-template-columns: 425px 1fr;
  grid-template-rows: 150px 210px;
  padding: 20px;
  margin: 30px 0px 0px 0px;
}

.enjoy {
  grid-row: 1;
  grid-column: 1;
  text-align: center;
  /*margin-top: 80px; This padding needs to be here to allow the enjoy title to be lowered closer to the paragraph below it*/
  box-sizing: border-box;
}

.enjoy2 {
  grid-row: 2;
  grid-column: 1;
  /*margin: 0px 50px 0px 50px;*/
  box-sizing: border-box;
  width: 95%;
}

.photo1 {
  grid-row: 1/2;
  grid-column: 2;
  border: 2px solid white;
  box-shadow: 5px 5px 15px black;
  width: 100%;
}

/*Section 3*/
.three {
  display: grid;
  grid-template-columns: 525px 1fr;
  grid-template-rows: 140px 210px;
  margin: 20px;
}

.whitewater {
  grid-row: 1;
  grid-column: 2;
  text-align: center;
  /*margin-top: 60px;*/
  box-sizing: border-box;
}

.whitewater2 {
  grid-row: 2;
  grid-column: 2;
  /*margin: 20px 50px 0px 50px; This needs to be here to move the text away from the edges of the picture and the edge*/
  box-sizing: border-box;
}

.photo2 {
  grid-row: 1/2;
  grid-column: 1;
  border: 2px solid white;
  box-shadow: 5px 5px 15px black;
  width: 90%;
}

.four {
  margin: 20px;
}
/*Section four*/
.come {
  text-align: center;
  /*margin: 20px 0px 10px 0px;*/
  box-sizing: border-box;
}

.come2 {
  /*margin: 25px 50px 25px 50px;*/
  box-sizing: border-box;
}
