body {
  font-size: 14px;
  margin: 0;
  padding: 0;
  background-color: rgb(240, 238, 238);
  font-family: "Rubik", sans-serif;
}

header,
footer {
  margin: 0 auto;
  border: 5px solid rgb(23, 56, 105);
  padding: 0.5rem;
  background-color: #599cbb;
  display: grid;
  align-items: center;
  justify-content: center;
}

header {
  grid-template-columns: 200px 1fr;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  float: left;
  margin-right: 80px;
}

main {
  margin: 1rem auto;
  background-color: rgb(179, 215, 236);
  padding: 1rem;
  color: black;
}

main img {
  box-shadow: 7px 7px 7px black;
}
footer {
  grid-template-columns: 1fr 300px;
  color: white;
}

h1,
h2 {
  color: rgb(23, 56, 105);
  font-size: 2.2rem;
}

/* Class Selectors */

.mainnav {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 20px;
}

.mainnav li {
  flex: 1 1 auto;
}

.mainnav a {
  display: block;
  padding: 12px;
  text-decoration: none;
}

.mainnav a:hover {
  color: rgb(23, 56, 105);
  background-color: white;
}

.page {
  max-width: 960px;
  margin: 0 auto;
}

.logo {
  width: 0px;
  height: auto;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:active {
  color: rgb(23, 56, 105);
}

.social {
  float: right;
}
